# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-text-editor': [
        {
            'label': 'Execute Query'
            'command': 'pg-hoff:execute-query'
        },
        {
            'label': 'Toggle auto alias'
            'command': 'pg-hoff:toggle-auto-alias'
        }
    ]
    '.notices': [
        {
            'label': 'Create dynamic table'
            'command': 'pg-hoff:create-dynamic-table'
        }
    ]
    'atom-text-editor': [
        {
            'label': 'Search history'
            'command': 'pg-hoff:search-history'
        }
    ]
    '.table': [
        {
            'label': 'Toggle Transpose',
            'command': 'pg-hoff:toggle-transpose'
        }
    ]
    '.connected': [
        {
            'label': 'Disconnect',
            'command': 'pg-hoff:disconnect'
        }
    ]
    'menu': [
        {
            'label': 'Packages'
            'submenu': [
                'label': 'pg-hoff'
                'submenu': [
                    {
                        'label': 'Connect'
                        'command': 'pg-hoff:connect'
                    },
                    {
                        'label': 'Execute Selected Query'
                        'command': 'pg-hoff:execute-query'
                    },
                    {
                        'label': 'Stop Query',
                        'command': 'pg-hoff:stop-query'
                    },
                    {
                        'label': 'Go to declaration'
                        'command': 'pg-hoff:goto-declaration'
                    },
                    {
                        'label': 'Copy selection'
                        'command': 'pg-hoff:copy'
                    },
                    {
                        'label': 'Change to results pane',
                        'command': 'pg-hoff:results'
                    },
                    {
                        'label': 'Change to output pane',
                        'command': 'pg-hoff:output'
                    }
                ]
            ]
        }
    ]
