@import "ui-variables";
@import "octicon-mixins";

autocomplete-suggestion-list {
  width: 700px !important;
  .word {
    max-width: 200px;
  }
  .right-label {
    max-width: 400px;
  }
}

.definition-underline .region {
    pointer-events: auto !important;
    z-index: 1 !important;
    cursor: pointer;
}
.definition-underline:hover .region:hover {
    border-bottom: 1px solid @text-color-info !important;
}

.tab-marker {
	display: inline-block;
    width: 0;
    height: 0;
    right: 0;
    top: 0;
	margin-right: 1px;
	margin-top: 1px;
    border-style: solid;
    position: absolute;
	border-color: transparent #F00 transparent transparent;
    border-width: 0 8px 8px 0;
}

.pinned::before{
	color: #ff9100 !important;
}
.query-error-overlay {
	z-index: 0;
}
.arrow_box {
	background: @base-background-color;
	border: 1px solid #ff4900;
	color: #ff6b6b;
	position: relative;
	right: 13%;
	padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;

	&:after, &:before {
		left: 10.7%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(143, 64, 64, 0);
		border-width: 8px;
		margin-left: -8px;
		margin-bottom: -4px;
	}
	&:before {
		border-color: rgba(110, 2, 2, 0);
		border-width: 6px;
		margin-left: -6px;
	}
	&.top {
		top: 3px;
		&:after, &:before {
			bottom: 100%;
		}
		&:after {
			border-bottom-color: @base-background-color;
		}
		&:before {
			border-bottom-color: #ff4900;
		}
	}
	&.bottom {
		top: -50px;
		&:after, &:before {
			top: 100%;
		}
		&:after {
			border-top-color: #ff4900;
		}
		&:before {
			z-index: 999;
			border-top-color: @base-background-color;
		}
	}
}

.tran.idle {
}
.force-select {
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;          /* Likely future */
}
.tran.intrans {
    color: @text-color-info;
}
.tran.inerror {
    color: @text-color-error;
}
.hamburgler{
    margin-top:0px;
    &::before {
        font-family: 'Octicons Regular';
        content: "\f05e" !important;
        font-size: 11px;
        margin-left: 0px;
        margin-right: 1px;
        color: @text-color-subtle;
    }
}
.hamburgler:hover{
    &::before {
        color: @text-color;
    }
}
.indicator {
    margin-bottom: 0px;
    display:none;
    height:6px;
    width:100%;
    border-bottom: 3px solid #313131;
    background-image: repeating-linear-gradient(
          -45deg,
          #C09F24,
          #C09F24 11px,
          #FFC900 10px,
          #FFC900 20px
        );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
.bottom-dock {
    .statusmessage {
        border-top-left-radius: 0px;
        border-radius: 0px;
        padding: 0px;
        vertical-align: middle;
        margin-bottom: 2px;
        font-size: @font-size;
        display: flex;
    }
    .statusmessage .message {
        margin-right:80px;
        display: inline-flex;
        margin-top: 7px;
    }
    .statusmessage .runtime_instant {
        border-right: 2px solid @background-color-info;
        background: darken(@button-background-color, 8%);
        color: contrast(@button-background-color);
        letter-spacing: 0px;
        font-size: 10px;
        vertical-align: middle;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex;
        min-width: 58px;
        margin-right: 5px;
    }
    .statusmessage .runtime_short {
        border-right: 2px solid @background-color-info;
        background: darken(@button-background-color, 8%);
        color: lighten(@button-background-color, 2%);
        letter-spacing: 0px;
        font-size: 10px;
        vertical-align: middle;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex;
        min-width: 58px;
        margin-right: 5px;
        &::before {
            font-family: 'Octicons Regular';
            content: "\f052" !important;
            font-size: 5px;
            margin-left: 2px;
            margin-right: 5px;
            margin-top: 4px;
            color: #343434;
        }
    }
    .statusmessage .runtime_medium {
        border-right: 2px solid @background-color-info;
        background: darken(@button-background-color, 8%);
        color: lighten(@button-background-color, 2%);
        letter-spacing: 0px;
        font-size: 10px;
        vertical-align: middle;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex;
        min-width: 58px;
        margin-right: 5px;
        &::before {
            font-family: 'Octicons Regular';
            content: "\f052" !important;
            font-size: 5px;
            margin-left: 2px;
            margin-right: 5px;
            margin-top: 4px;
            color: #ffb01e;
        }
    }
    .statusmessage .runtime_long {
        border-right: 2px solid @background-color-info;
        background: darken(@button-background-color, 8%);
        color: lighten(@button-background-color, 2%);
        letter-spacing: 0px;
        font-size: 10px;
        vertical-align: middle;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex;
        min-width: 58px;
        margin-right: 5px;
        &::before {
            font-family: 'Octicons Regular';
            content: "\f052" !important;
            font-size: 5px;
            margin-left: 2px;
            margin-right: 5px;
            margin-top: 4px;
            color: #ff5353;
        }
    }
    .notice {
        border-left: 2px solid lighten(@background-color-warning, 15%);
        border-top-left-radius: 0px;
        border-radius: 0px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 56px;
        font-size: @font-size;
    }
    .messages {
        border-left: 2px solid #00d0e8;
        border-top-left-radius: 0px;
        border-radius: 0px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 56px;
        font-size: @font-size;
    }
    .error {
        border-top-left-radius: 0px;
        border-radius: 0px;
        padding: 0px;
        vertical-align: middle;
        margin-bottom: 2px;
        font-size: @font-size;
        display: flex;
    }
    .error .errormessage {
        margin-right:80px;
        display: inline-flex;
        margin-top: 7px;
    }
    .error .errorheader {
        border-right: 2px solid @background-color-error;
        background: darken(@button-background-color, 8%);
        color: lighten(@button-background-color, 2%);
        letter-spacing: 0px;
        font-size: 11px;
        font-weight: bold;
        vertical-align: middle;
        padding-left: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex;
        min-width: 58px;
        margin-right: 5px;
    }
}

.flashcell{
    background: #009900;
    color: #333333;
    border: 5px solid #FFF;
}
.copyFlash {
    animation: fadeinout 500ms linear forwards;
}
@keyframes fadeinout {
  0% { background: #005500; opacity: 1; }
  100% { opacity: 1;  }
  50% { opacity: 1; }
}
.bottom-dock-header{
    height: 1px;
}
.output-view {
    .content-container {
        padding: 10px;
    }
}
.bottom-dock-header {
    span.title {
        display: none;
    }
}

.gulp-pane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    select {
      min-width: 200px;
      font-size: @font-size;
      margin: 2px 0 0 5px;
      display: inline-block;
      width: auto;
      padding: 0;
      height: 100%;
      color: @text-color;
      border-color: @button-border-color;
      background-color: @button-background-color;
      &:hover,
      &:focus {
        box-shadow: none;
        background-color: @button-background-color-hover;
      }
    }

    .args-input-label {
      margin: 0 4px 0 4px;
      font-size: @font-size;
    }

    .text-editor {
      line-height: @component-line-height - 3px;
      height: @component-line-height;
      width: 200px;
      vertical-align: middle;
      display: inline-block;
    }

    .refresh-button {
      padding-right: 6px;
      color: @text-color-info;

      &:hover {
        color: @background-color-info;
      }

      &:active {
        color: @text-color-selected;
      }
    }

    .stop-button {
      padding-right: 4px;
      color: @text-color-error;

      &:hover {
        color: @background-color-error;
      }

      &:active {
        color: @text-color-selected;
      }
    }

    .clear-button {
      color: @text-color-warning;
      padding-right: 6px;

      &:hover {
        color: @background-color-warning;
      }

      &:active {
        color: @text-color-selected;
      }
    }
  }

  ul {
    max-height: 100%;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0 0 5px 5px;

    span {
      cursor: pointer;
      padding: 3px;

      &:hover {
        color: @text-color-highlight;
        background-color: @background-color-selected;
        border-radius: 3px;
      }

      &:active {
        color: @text-color-selected;
      }
    }
  }

  .gulp-view {
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .file-container {
      width: 100%;
      overflow: auto;
      flex: 1;
    }

    .args-container {
      width: 100%;
      padding: 5px;

      span {
        font-size: 12px;
        padding-right: 4px;
      }
    }
  }

  .cell-move-handle:hover {
    background: #b6b9bd;
  }

  .slick-row.selected .cell-move-handle {
    background: #D5DC8D;
  }
&.row-numbers {
    .l0 {
        font-size: 11px;
        background: darken(@button-background-color, 8%);
        color: @text-color-subtle;
        letter-spacing: 0px;
        font-size: 10px;
        vertical-align: middle;
        border-bottom: none;
        padding-top: 2px;
        text-align: right;
        padding-right: 8px;
    }
}

&.transpose {
    .l0 {
        font-size: 11px;
        background: darken(@button-background-color, 8%);
        /*color: lighten(@button-background-color, 2%);*/
        letter-spacing: 0px;
        font-size: 11px;
        color: @text-color-subtle;
        vertical-align: middle;
        border-bottom: none;
        padding-top: 2px;
        text-align: right;
        padding-right: 8px;
    }
}

.slick-sort-indicator-asc{
    background-image: none !important;
    &::before {
        font-family: 'Octicons Regular';
        content: "\f0aa" !important;
        font-size: 11px;
        color: @text-color-subtle;
    }
}
.slick-sort-indicator-desc{
    background-image: none !important;
    &::before {
        font-family: 'Octicons Regular';
        content: "\f05b" !important;
        font-size: 11px;
        color: @text-color-subtle;
    }
}
.slick-header-column:hover {
    color: @text-color !important;
}
.slick-cell, .slick-headerrow-column {
    font-size: 12px;
    position: absolute;
    border: 1px solid transparent;
    border-right: 1px dotted @base-border-color;
    border-bottom-color: @base-border-color;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: top !important;
    z-index: 1;
    padding-bottom: 2px;
    padding-left: 5px;

    margin: 0;
    cursor: default;
}
.SQLvalueNULL{
        color: #f277fc;
        font-weight: bold;
        font-style: normal;
        width: 100%;
        position: absolute;
        margin-left: -5px;
        margin-top: -0px;
        padding-left: 5px;
        padding-top: -2px;
}
.SQLvalueTRUE{
    color:#a2ff6d;
    font-weight:bold;
}
.SQLvalueFALSE{
    color:#ff816d;
    font-weight:bold;
}
.slick-row{
    color: lighten(@text-color, 10%) !important;
    background: @button-background-color;
}
.slick-row:hover, .slick-headerrow:hover{
    background: lighten(@tab-background-color, 3%);
    color: #fcb43a !important;
    .selected {
        background: @tab-background-color !important;
        color: #ff9900 !important;
    }
    .SQLvalueNULL{ color:#f64cfa; }
    .SQLvalueTRUE{ color:#d2ffb8 }
    .SQLvalueFALSE{ color:#ffb8ad; }
}
.grid-canvas {
    .selected {
        background: @tab-background-color;
        color: darken(@text-color-highlight, 5%);
    }
}

.slick-header-column{
    color: @text-color-subtle !important;
    background-color: @base-background-color;
}

  .output-view {
    height: 100%;
    display: flex;
    flex: 1;

    .content-container {
      display: flex;
      flex: 1;

      .task-container {
        padding-top: 5px;
        flex: 0 0 30%;
        border-right: 1px solid @base-border-color;
        padding-right: 5px;
        display: flex;
        flex-direction:column;

        .task-list-container {
          flex: 1 1 0;
          overflow: auto;
        }

        .custom-task-container {
          flex: none;
          padding: 5px;
          font-size: 12px;
        }

        .control-container {
          padding: 0 5px 5px 5px;
          font-size: 12px;

          button {
            width: 50%;
          }
        }
      }
    }

    .output-container {
      flex: 1;
      overflow: auto;
      padding-left: 10px;
      background-color: @inset-panel-background-color;

      pre {
        padding: 0;
        font-size: @font-size;
        background-color: @inset-panel-background-color;
      }
    }
  }
}

atom-text-editor {
   .gutter .line-number {
    &.query-loading {
      border-left: 4px solid;
      padding-left: ~"calc(0.5em - 4px)";
      animation: pulseloading 1s linear infinite;
    }
    &.query-queued {
        animation: pulsequeued 2s linear infinite;
        width: 2px;
    }
    &.query-error {
      border-left: 4px solid;
      padding-left: ~"calc(0.5em - 4px)";
      animation: pulserror 2s ease-out infinite;
    }
    &.query-aborted {
      border-left: 4px solid;
      padding-left: ~"calc(0.5em - 4px)";
      animation: pulseaborted 0.5s ease-out infinite;
    }
	&.query-rendering {
      border-left: 4px solid;
      padding-left: ~"calc(0.5em - 4px)";
      animation: pulserendering 0.5s ease-out infinite;
    }
  }
 }

@keyframes pulseloading {
   0% {
     border-color: darken(@background-color-success, 20%);
   }
   50% {
     border-color: lighten(@background-color-success, 20%);
   }
   100% {
     border-color: darken(@background-color-success, 20%);
   }
}
@keyframes pulsequeued {
   0% {
     background-color: lighten(@base-background-color, 5%);
   }
   50% {
     background-color: lighten(@base-background-color, 50%);
   }
   100% {
     background-color: lighten(@base-background-color, 5%);
   }
}
@keyframes pulserror {
   0% {
     border-color: darken(@background-color-error, 10%);
   }
   50% {
      border-color: lighten(@background-color-error, 5%);
  }
   100% {
    border-color: darken(@background-color-error, 20%);
   }
}
@keyframes pulseaborted {
   0% {
     border-color: darken(@background-color-warning, 50%);
   }
   50% {
      border-color: @background-color-warning;
  }
   100% {
    border-color: darken(@background-color-warning, 20%);
   }
}
@keyframes pulserendering {
   0% {
     border-color: darken(@background-color-info, 50%);
   }
   50% {
      border-color: @background-color-info;
  }
   100% {
    border-color: darken(@background-color-info, 20%);
   }
}



.result-html table {margin:5px;border-collapse:collapse;font-family: menlo}

.result-html table th,
.result-html table td {padding:4px 8px;border:1px solid @base-border-color;background:@button-background-color;text-align:left;vertical-align:top}

.result-html table th {
    background:@base-background-color;
    font-size: 12px;
    font-weight: normal;
    height:16px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
}
.result-html table th.n {text-align:left}

.result-html table th a,
.result-html table th span {font-size:12px;color:@text-color;white-space:nowrap}

.result-html table tbody tr {cursor:pointer}

.result-html table td   {text-align:right}
.result-html table td.n {text-align:left}

.result-html table td.e,
.result-html table td.i,
.result-html table td.x {white-space:nowrap}

.result-html table tr.even td {background:@background-color-selected}

/* !important overrides tr.even */
.result-html table tr.c-2 td,
.result-html table tr.c-m td.c-2 {background-color:#846646 !important; color:#d4b089}
.result-html table tr.c-3 td,
.result-html table tr.c-m td.c-3 {background-color:#b16d3c !important;color:#ffd28f}
.result-html table tr.c-4 td,
.result-html table tr.c-m td.c-4 {background-color:#ca4640 !important;color:#ffaa9a}

/* tr hover */
.result-html table tr.hover      td,
.result-html table tr.hover.even td {background-color:#d0d8d8 !important}

/* !important overrides tr.c-[1..4] */
.result-html table tr.hover.c-2 td,
.result-html table tr.hover.c-m td.c-2 {background-color:#ec5 !important}
.result-html table tr.hover.c-3 td,
.result-html table tr.hover.c-m td.c-3 {background-color:#c60 !important}
.result-html table tr.hover.c-4 td,
.result-html table tr.hover.c-m td.c-4 {background-color:#600 !important}

/* tr collapsed */
.result-html table tr.collapsed td {border-bottom:3px dashed #888}

.result-html table tr.collapsed.c-2 td,
.result-html table tr.collapsed.c-m td.c-2 {border-bottom-color:#ec5}
.result-html table tr.collapsed.c-3 td,
.result-html table tr.collapsed.c-m td.c-3 {border-bottom-color:#c60}
.result-html table tr.collapsed.c-4 td,
.result-html table tr.collapsed.c-m td.c-4 {border-bottom-color:#600}

.result-html table td.n div   {position:relative;min-height:22px;height:auto !important;height:22px}
.result-html table td.n p,
.result-html table td.n ul    {margin:0;padding:0}
.result-html table td.n ul    {list-style:none}
.result-html table td.n li    {padding-top:0.5em}

.result-html table td.n p span.est,
.result-html table td.n p span.act {white-space:nowrap}

/* all ico(ns) */
.result-html table td.n div.ico {position:absolute;top:-4px;left:-22px;width:22px;height:22px;background:url('../img/sprite.png') no-repeat 0px -180px;text-indent:-1000px;overflow:hidden}

/* white arrow */
.result-html table tr.c-3 td.n div.ico,
.result-html table tr.c-4 td.n div.ico {background-position:0px -224px}

/* for td.r(ows), td.l(oops) */
.result-html table .tight span {display:none}
.result-html table .tight,
.result-html table .tight a    {padding-left:0 !important;padding-right:0 !important;width:1px !important;overflow:hidden;text-align:left;text-indent:-10000px}
.result-html table .tight a    {margin:0 1px;background:url('../img/sprite.png') top left}

.result-html table p {color:inherit}

* html .result-html table tr.c-3 td     p,
* html .result-html table tr.c-m td.c-3 p,
* html .result-html table tr.c-4 td     p,
* html .result-html table tr.c-m td.c-4 p {color:darken(@text-color, 30%) !important}

*:first-child+html .result-html table tr.c-3 td     p,
*:first-child+html .result-html table tr.c-m td.c-3 p,
*:first-child+html .result-html table tr.c-4 td     p,
*:first-child+html .result-html table tr.c-m td.c-4 p {color:darken(@text-color, 30%) !important}

.result-html table tbody tr.sub-n td.n {background-image:url('../img/star.png');background-position:top left;background-repeat:no-repeat}

.result-html table tbody tr.sp td.n,
.result-html table tbody tr.ip td.n {background-image:none}
.tab-container {
    .tab-button {
        line-height: normal !important;
        &.selected {
            background: @background-color-info !important;
            color: contrast(@background-color-info) !important;
        }
    }
}
