// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@pg-hoff-border-color: @base-border-color;

@pg-hoff-false-background: lighten(@background-color-error, 30%);
@pg-hoff-false-color: #333;
@pg-hoff-true-background: lighten(@background-color-success, 40%);
@pg-hoff-true-color: #333;
@pg-hoff-cell-background: @base-background-color;
@pg-hoff-cell-color: @text-color-highlight;
@pg-hoff-null-background: #FFFCD6;
@pg-hoff-null-color: #888;
@pg-hoff-header-color: @text-color-subtle;
@pg-hoff-header-background: darken(@base-background-color, 10%);

.pg-hoff-list-servers {
    .clear { clear: both; }
    .connecting { padding: 5px 10px; font-size: 13px; font-weight: bold; }
    .server {
        padding: @component-padding/2 @component-padding;
        color: @text-color-highlight;

        .title {
            font-size: 16px;
            font-weight: bold;
        }

        .url-container {
            font-size: 14px;
            .url {
                float: left;
            }
            .connected {
                float: right;
                font-size: 13px;
                padding: 3px 6px;
                background: lighten(@background-color-success, 5%);
                color: #fff;
                border-radius: 3px;
                margin-top: -10px;
            }
        }

        &:hover {
            background: @background-color-highlight;
            cursor: pointer;
        }
    }
}
.pg-hoff-results-view {
    color: @text-color-highlight;
    padding: 0px @component-padding @component-padding 0px;
    font-family: 'Menlo';
    font-size: @font-size;
    overflow-y: scroll;
    overflow-y: scroll;
    .resize-handle {
        position: absolute;
        width: 100%;
        height: 4px;
        top: -4px;
        cursor: row-resize;
        z-index: 3;
    }
    .status-message {
        padding: 3px 6px;
    }
    .executing {
        padding: 3px 6px;
        pre {
            padding: 10px;
        }
    }
    pre { font-family: 'Menlo'; padding: 0px; }

    div.toolbar {
        .tool {
            float: right;
            margin-left: 5px;

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    div.table {
        table {
            background: @pg-hoff-cell-background;
            border: 1px solid @pg-hoff-border-color;
            width: 100%;
            padding-bottom: @component-padding;
            padding-right: @component-padding;
            td { white-space:nowrap; vertical-align: top; }
            tr {
                white-space:nowrap;
                th {
                    font-weight: normal;
                    background: @pg-hoff-header-background;
                    color: @pg-hoff-header-color;

                    &.sortable:hover {
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid @pg-hoff-border-color;
                    }
                }
                td.null {
                    background: @pg-hoff-null-background;
                    color: @pg-hoff-null-color;
                }
                td.boolean_false {
                    background: @pg-hoff-false-background;
                    color: @pg-hoff-false-color;
                }
                td.boolean_true {
                    background: @pg-hoff-true-background;
                    color: @pg-hoff-true-color;
                }
                th,td {
                    &:last-child {
                        border-right: none;
                        width: 100%;
                    }
                    color: @pg-hoff-cell-color;
                    white-space: pre;
                    border-bottom: 1px solid @pg-hoff-border-color;
                    border-right: 1px solid @pg-hoff-border-color;
                    padding: 6px 6px 3px 6px;
                    height: 27px;
                }
            }
        }

    }
}
